@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  background: #f2f2f2;
  padding: 0 40px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
  background: #ffffff;
  margin: 0;
  z-index: 2;
  position: relative;
}

.navigation {
  position: relative;
  padding: 0;
  padding-left: 140px;
  margin: 0;
  display: flex;
}

.logo-link {
  position: absolute;
  left: 0;
  top: 0;
}

.logo-img {
  width: 140px;
  height: 70px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 20px 45px 0;
  width: 440px;
  gap: 32px;
  flex-wrap: wrap;
}

.navigation-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  position: relative;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #756257;
  top: 43px;
  right: 0;
  left: 0;
  bottom: 0;
}

.user-menu-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  margin-left: auto;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-item {
  background-image: url("../images/icon-search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.favorites-item {
  background-image: url("../images/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.user-menu-link {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 20px 15px;
}

.number {
  width: 11px;
  height: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #000000;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
}

.number-bacground {
  border: 1px solid #7DB54F;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: -2px;
  color: #ffffff;
}

.user-menu {
  list-style: none;
  padding: 13px 0;
  padding-left: 12px;
}


.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.menu-link {
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  background-color: #756157;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  padding: 10px 5px 7px;
  text-align: center;
  box-sizing: border-box;
}

.leading-page {}

.welcome {
  background-image: url(../images/main-header-background.jpg);
  text-align: center;
  padding-top: 51px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: aquamarine;
  position: relative;
}

.welcome-img {
  width: 458px;
  height: 352px;
  position: relative;
}

.welcome::after {
  content: "";
  background-image: url("../images/divider-Vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 1200px;
  height: 57px;
  right: 0;
  bottom: 0;
}

.advantages {
  padding-top: 37px;
}

.advantages-caption {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  padding-top: 0;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 91px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-header {
  list-style: none;
  display: flex;
  background: #82B3D3;
}

.advantages-top {
  display: flex;
  justify-content: center;
}

.advantages-headline {
  position: relative;
  padding-left: 113px;
  padding-right: 116px;
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.advantages-headline::after {
  content: "";
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -30px;
}

.rectangle {
  width: 60px;
  height: 2px;
  background-color: #000000;
}

.advantages-title {
  position: relative;
  margin-top: 99px;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -31px;
  left: 50%;
  margin-left: -30px;
}

.advantages-title-commerce {
  margin: 0;
  padding: 0;
  margin-top: 178px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-food::before {
  content: "";
  display: block;
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 77px;
  height: 72px;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
}

.advantages-house::before {
  content: "";
  display: block;
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 77px;
  height: 72px;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
}

.advantages-souvenirs::before {
  content: "";
  display: block;
  background-image: url("../images/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 77px;
  height: 72px;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
}

.advantages-note {
  padding: 0 80px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-img-container {
  width: 800px;
  height: 100%;
  overflow: hidden;
}

.advantages-image {
  height: 100%;
  width: auto;
}

.advantages-item {
  list-style: none;
  width: 400px;
  position: relative;
}

.advantages-item-top {
  list-style: none;
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
  position: relative;
}

.advantages-text {
  padding-left: 68px;
  padding-right: 67px;
  margin-bottom: 119px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.text-commerce {
  margin: 0;
  padding: 0;
  padding-left: 84px;
  padding-right: 81px;
  margin-bottom: 79px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-text-commerce {
  margin: 0;
  padding: 0;
  padding-left: 110px;
  padding-right: 112px;
  margin-bottom: 58px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-container {
  width: 400px;
  margin-top: 97px;
}

.commerce {
  display: flex;
  margin: 0 auto;
  padding: 0;
}


.search-hotels {
  text-align: center;
  padding-top: 96px;
  margin-bottom: 97px;
}

.search-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-note {
  padding: 0;
  margin: 0 auto 51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 645px;
}

.search {
  background: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
  width: 376px;
  min-height: 52px;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 9px;
}

.page-footer {}

.subscribe {
  background-image: url(../images/bacground-footer-subscribe.jpg);
  width: 1200px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-top: 97px;
}

.subscribe-title {
  margin: 0 0 21px;
  padding-top: 97px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.subscribe-note {
  padding: 0;
  margin: 0 auto 51px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  width: 475px;
}

.subscribe-form {
  text-align: center;
  border-radius: 4px 0 0 4px;
  padding-bottom: 98px;
}

.subscribe-form-catalog {
  text-align: center;
  border-radius: 4px 0 0 4px;
  margin-bottom: 153px;
}

.subscribe-form-container {
  display: flex;
  width: 684px;
  margin: 0 auto;
  padding-bottom: 104px;
}

.subscribe-form-container-catalog {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-caption {
  margin: 0 0 21px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0 auto 51px;
  width: 475px;
}

.filed {
  width: 458px;
  min-height: 46px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 0 22px;
}

.subscribe-button {
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 36px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
}

.subscribe-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.socials {}

.socials-list {
  margin: 46px 69px 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 1060px;
  padding-bottom: 34px;

}

.socials-item {}

.socials-link {
  text-decoration: none;
}

.socials-svg {
  fill: #83b3d3;
}

.socials-link:hover .socials-svg {
  fill: #68A2CA;
}

.socials-link:focus .socials-svg {
  fill: #68A2CA;
}

.socials-link:active .socials-svg {
  fill: #68A2CA4D;
}

.socials-link-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  color: #000000;
  margin-left: 236px;
  margin-right: 234px;
}

.socials-svg-phone {
  fill: #000000;
}

.socials-link-phone:hover .socials-svg-phone {
  fill: #756157;
}

.socials-link-phone:focus .socials-svg-phone {
  fill: #756157;
}

.socials-link-phone:active .socials-svg-phone {
  fill: #7561574D;
}

.socials-svg-logo {
  fill: #000000;
}

.socials-link:hover .socials-svg-logo {
  fill: #756157;
}

.socials-link:focus .socials-svg-logo {
  fill: #756157;
}

.socials-link:active .socials-svg-logo {
  fill: #7561574D;
}

.filter-group {
  background-image: url(../images/background-filter-content.jpg);
  width: 1200px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.filter-content {}

.filter-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 36px 70px 0;
  font-weight: 700;
  font-size: 61px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0 67px;
  margin-bottom: 38px;
}

.filter-box {
  display: flex;
}

fieldset {
  border: 0;
}

.filter-form {
  margin-bottom: 143px;
}

.filter-column {}

.input-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.filter-button {
  display: flex;
  flex-direction: column;
  border: none;
  cursor: pointer;
}

.breadcrumbs-link {}

.checkbox-radio {
  display: flex;
}

.checkbox-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.checkbox-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.checkbox-list {
  width: 150px;
  list-style: none;
}

.checkbox-form {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.radio-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.radio-list {
  list-style: none;
}

.radio-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.cost {
  background: #F2F2F2;
  border-radius: 4px;
  width: 143px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.cost-until {}

.range-scale {
  position: relative;
  height: 2px;
  width: 276px;
  border-radius: 4px;
  color: #ffffff;
}

.radio-form {
  width: 20px;
  height: 20px;
}

.selection-btn {
  width: 191px;
  height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.selection-btn:hover {
  background-color: #68A2CA;
}

.selection-btn:focus {
  background-color: #68A2CA;
}

.selection-btn:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.selection-btn:disabled {
  background-color: #E5E5E5;
}

.reset-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid transparent;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}

.reset-btn:hover {
  color: #F2F2F2;
}

.reset-btn:focus {
  border: 3px solid #83B3D3;
}

.reset-btn:active {
  color: #FFFFFF4D;
}

.reset-btn:disabled {
  color: #E5E5E5;
}

.sorting-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.sorting {
  display: flex;
  margin-bottom: 40px;
}

.sorting-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sorting-title {
  padding-top: 6px;
  padding-left: 72px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-hotels {
  padding: 0 15px;
  margin-left: 200px;
  width: 292px;
  height: 49px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-hotels:hover {
  border: 2px solid #68A2CA;
  border-radius: 4px
}

.sorting-hotels:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.sorting-hotels:active {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.sorting-hotels:disabled {
  border: 2px solid #0000004D;
  border-radius: 4px;
}

.view-list {
  list-style: none;
  display: flex;
  margin: 0 75px;
  gap: 20px;
}

.view-item {}

.sorting-view {
  position: relative;
}

.sorting-view-first {}

.sorting-view-first::after {
  content: "";
  background-image: url("../images/View-first.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 40px;
  left: 0;
  bottom: 0;
}

.sorting-view-second::after {
  content: "";
  background-image: url("../images/View-second.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 70px;
  bottom: 0;
}

.sorting-view-third::after {
  content: "";
  background-image: url("../images/View-third.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 183px;
  bottom: 0;
}

.catalog {}

.catalog-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
  width: 1060px;
  margin-bottom: 72px;
}

.catalog-item {
  border: 1px solid #E6E6E6;
  padding: 20px;
  width: 340px;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-link-text {
  text-decoration: none;
}

.catalog-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-top: 15px;
}

.price {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-top: 15px;
}

.catalog-more {
  padding: 7px 26px;
  width: 140px;
  min-height: 36px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-more:hover {
  background-color: #615048;
}

.catalog-more:focus {
  background-color: #615048;
}

.catalog-more:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.catalog-more:disabled {
  background-color: #E5E5E5;
}

.catalog-button {
  padding: 5px 10px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.catalog-button:hover {
  background-color: #68A2CA;
}

.catalog-button:focus {
  background-color: #68A2CA;
}

.catalog-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.catalog-button:disabled {
  background-color: #E5E5E5;
}

.catalog-button-active {
  padding: 5px 10px;
  background: #7DB54F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.catalog-button-active:hover {
  background-color: #6C9E42;
}

.catalog-button-active:focus {
  background-color: #6C9E42;
}

.catalog-button-active:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.catalog-button-active:disabled {
  background-color: #E5E5E5;
}

.stars {
  height: 17px;
  background: url("../images/star.svg") space 0 0;
}

.stars--one {
  width: 19px;
}

.stars--two {
  width: 41px;
  margin: 10px 0;
  padding: 0;
}

.stars--three {
  width: 66px;
  margin: 10px 0;
  padding: 0;
}

.stars--four {
  width: 89px;
  margin: 10px 0;
  padding: 0;
}

.catalog-note {
  margin: 0;
  padding: 9px 0;
  margin-top: 2px;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.catalog-img {
  margin-bottom: 12px;
}

.pagination {
  padding: 0;
  margin-bottom: 158px;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-left: 71px;
}

.pagination-item-active {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  padding: 11px;
}

.pagination-item {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  padding: 11px;
}

.pagination-item-dots {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  padding: 17px 0;
}

.pagination-link-first {
  text-decoration: none;
  color: #333333;
}

.pagination-link {
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
}

.pagination-link-dots {
  text-decoration: none;
  color: #333333;
}

.modal-container {
  display: none;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  background: rgba(242, 242, 242, 0.8);
  z-index: 20;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-search {
  width: 717px;
  min-height: 576px;
}

.modal-title {
  margin: 25px 28px 63px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 413px;
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 65px;
  right: 54px;
  width: 52px;
  height: 52px;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close:hover {
  background: #E6E6E6;
}

.modal-close:focus {
  border: 3px solid #83B3D3;
  border-radius: 50%;
}

.modal-dates {
  display: flex;
  flex-wrap: wrap;
}

.modal-dates-exit {
  display: flex;
}

.modal-people {
  display: flex;
  margin-bottom: 47px;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  padding: 13px 28px;
  padding-right: 27px;
}

.modal-text-exit {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  padding: 13px 28px;
  padding-right: 21px;
}

.modal-text-adults {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  padding: 13px 28px;
  padding-right: 47px;
}

.modal-text-childs {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  padding: 13px 87px;
  padding-right: 86px;
  position: relative;
}

.modal-text-childs::before {
  content: "";
  background-image: url("../images/attention.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 98px;
  bottom: 0;
}

.text-childs {
  position: relative;
}

.text-childs::after {
  content: "";
  background-image: url("../images/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 256px;
  height: 200px;
  top: 40px;
  left: 33px;
  position: absolute;
}

.serach-button-modal {
  background: #83B3D3;
  border-radius: 10px;
  width: 577px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 28px;
  padding: 16px;
}

.serach-button-modal:hover {
  background-color: #68A2CA;
}

.serach-button-modal:focus {
  background-color: #68A2CA;
}

.serach-button-modal:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.serach-button-modal:disabled {
  background-color: #E5E5E5;
}

.modal-filed {
  background: #F2F2F2;
  border-radius: 4px;
  width: 440px;
  min-height: 48px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding: 0 18px;
  box-sizing: border-box;
}

.modal-note {
  margin: 0;
  margin-left: 185px;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.modal-filed-exit {
  background: #F2F2F2;
  border-radius: 4px;
  width: 440px;
  min-height: 45px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
  padding: 10px 16px;
}

.input-container {
  display: flex;
  width: 110px;
  background: #F2F2F2;
}

.modal-filed-second {
  background: #F2F2F2;
  border: none;
  width: 36.6px;
  min-height: 44px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.button-minus {
  border: 3px solid transparent;
  background-color: transparent;
  width: 36.6px;

}

.button-plus {
  border: 3px solid transparent;
  background-color: transparent;
  width: 36.6px;
}
